<header></header>
    <nav>
        <div class="logo">
            <h1>ThôngTin-VCT/HT </h1>
        </div>
        <ul class="nav-menu">
            <li><a href="#home">Trang chủ</a></li>
            <li><a href="#about">Giới thiệu</a></li>
            <li><a href="#services">Dịch vụ</a></li>
            <li><a href="#contact">Liên hệ</a></li>
            <li><a href="views/account/dang-nhap.html">Đăng nhập</a></li>
            <li><a href="views/account/dang-ky.html">Đăng ký</a></li>
        </ul>
    </nav>
</header>
